.ls-calendar {
  padding: 10px;
  border:1px solid #ccc;
  display: inline-block;
  border-radius: 3px;
  font-size: 14px;

  .panel-box {
    min-height: 200px;
  }

  .current-date-box {
    text-align: center;
  }

  .opt-btn-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .flip-btn {
    display: inline-block;
    cursor: pointer;
  }

  .current-date-box {
    font-size: 14px;
    color: #333;
  }
}

.ls-panel-item {
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  font-size: 12px;
  margin-left: 5px;
  vertical-align: middle;
  margin-top: 5px;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 50%;
  user-select: none;

  &.invalid-item {
    cursor: auto;
  }

  &.actived {
    background-color: #35a0e6;
    color: #fff;
  }
}

@PanelR : 200;
@PanelA : 30deg;

 // 时间选择器
 .ls-time-panel {
  position: relative;
  .circle-box-inner {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: yellowgreen;
    position: relative;

    .time-icon-box {
      position: absolute;
      top:0;
      left: 0;
      transform: translate(-50%, -50%);
    }


  
    .loop(@n, @i:1) when( @i <= @n) {
      .time-icon-box-@{i} {
        left: sin(@i * @PanelA) * 100 + 100px;
        top: (1 - sin(90 - @i * @PanelA)) * 100px;
      }
    }

    each(range(12),{
      .time-icon-box:nth-child(@{value}) {
        left: sin(@value * @PanelA) * 100 + 100px;
        top: (1 - sin(90 - @value * @PanelA)) * 100px;
      }
    })
  }

  .move-btn {
    width: 30px;
    height: 30px;
    background-color: blue;
  }
}